In [5]:
# Scaling

import pandas as pd
from sklearn.preprocessing import scale, minmax_scale


x = pd.DataFrame({'col':[-3, -1, 1, 3, 5, 7, 9]})


# 평균 0, 분산을 이용해 정규화
x["scale"] = scale(x.col.astype(float))

# 0-1 사이의 값으로 정규화
x["minmax_scale"] = minmax_scale(x.col.astype(float))

x

   col  scale  minmax_scale
0   -3   -1.5      0.000000
1   -1   -1.0      0.166667
2    1   -0.5      0.333333
3    3    0.0      0.500000
4    5    0.5      0.666667
5    7    1.0      0.833333
6    9    1.5      1.000000

In [10]:
import pandas as pd
from sklearn.preprocessing import scale, minmax_scale

x = pd.DataFrame({"col":[-3, -1, 1, 3, 5, 7, 9]})

x["scale"] = scale(x.col.astype(float))
x["minmax_scale"] = minmax_scale(x.col.astype(float))

x.describe()

            col     scale  minmax_scale
count  7.000000  7.000000      7.000000
mean   3.000000  0.000000      0.500000
std    4.320494  1.080123      0.360041
min   -3.000000 -1.500000      0.000000
25%    0.000000 -0.750000      0.250000
50%    3.000000  0.000000      0.500000
75%    6.000000  0.750000      0.750000
max    9.000000  1.500000      1.000000

In [14]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

dfTest = pd.DataFrame({
    'A': [14, 90.20, 90.95, 96.27, 91.21],
    'B': [103.02, 107.2, 110.35, 114.23, 114.68],
    'C': ['big', 'small', 'big', 'small', 'small']
})

dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])
dfTest

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.358491  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

In [20]:
# Nominal Attributes

import pandas as pd
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

encoding_data = ["paris", "paris", "tokyo", "amsterdam"]

le.fit(encoding_data)
print(le.classes_)
print(type(le.classes_), "\n")

data = le.transform(encoding_data)
print(data)
print(type(data), "\n")

original = le.inverse_transform(data)
print(original)
print(type(original))

['amsterdam' 'paris' 'tokyo']
<class 'numpy.ndarray'>

[1 1 2 0]
<class 'numpy.ndarray'>

['paris' 'paris' 'tokyo' 'amsterdam']
<class 'numpy.ndarray'>

In [26]:
# Transform 예제

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

str = []
for i in range(ord('a'), ord('z')+1, 1):
    str.append(chr(i))

le.fit(str)
data = le.transform(['a', 'd', 'f', 'z'])
print(data)

[ 0  3  5 25]

In [29]:
# DataFrame 변환

import pandas as pd
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df = pd.DataFrame({
    'A': ['a', 'b', 'b', 'c', 'a'],
    'B': ['x', 'y', 'x', 'y', 'x'],
})

data = df.apply(le.fit_transform)
print(data)
print(type(data))

   A  B
0  0  0
1  1  1
2  1  0
3  2  1
4  0  0
<class 'pandas.core.frame.DataFrame'>